.sidebar{
  padding-top: 5px;
  position: fixed;
  background-color: white;
  left:0;
  top: 55px;
  bottom: 0;
  width: 72px;
  z-index: 200;
}
.sidebar-link{
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.sidebar-link:hover{
  background-color: rgb(238, 238, 238);
}
.sidebar-link img{
  height: 24px;
  margin-bottom: 6px;
}
.sidebar-link div{
  font-family: Roboto, arial;
  font-size: 10px;
}
@media (min-width: 1200px){
  .sidebar{
    width: 300px;
  }
  .sidebar-link{
    flex-direction: row;
    padding-left: 25px;
    height: 45px;
    padding-top: 10px;
  }
  .sidebar-link img{
    font-size: 50px;
    position: absolute;
    left: 25px;
    margin-top: 5px;
  }
  .sidebar-link div{
    font-size: 16px;
    position: absolute;
    left: 80px;
  }
}